{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/licence1ep.css'%}">
    <title>Etudiant en licence 1 de IA</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <hr>
    <h1 style="text-align: center; background-color: aquamarine; font-size: 2em;color: #112438;">Bienvenue sur <span class="l">Eduplanner</span> (Emploi du temps Licence 2)</h1>
    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'index'%}">Accueil</a></li>
            <li class="deroulant"><a href="#">Consultation des emplois du temps publiés</a>
                <ul class="sous">
                    <li><a href="Emploisdutempslicence1">Licence 1</a></li>
                    <li><a href="Emploisdutempslicence2">Licence 2</a></li>
                    <li><a href="Emploisdutempslicence3">Licence 3</a></li>
                </ul>
            </li>
            {% if a %}
                <li><a href="admin">Planification des emplois de temps</a></li>
            {%endif%}
        </ul>
    </nav>
    <hr>
    <div class='filiere' style="text-align: center;">
        <h1>ETUDIANT EN LICENCE 2 DE IA</h1>
    </div>
    <table>
        <tr>
            <th>Jours:</th>
            {% for IA_2 in filieres %}
            <th>{{ IA_2.Jours }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Matières:</td>
            {% for IA_2 in filieres %}
            <th>{{ IA_2.Matières }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Heures:</td>
            {% for IA_2 in filieres %}
            <th>{{ IA_2.Heures}}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Professeur:</td>
            {% for IA_2 in filieres %}
            <th>{{ IA_2.Professeur}}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Groupe:</td>
            {% for IA_2 in filieres %}
            <th>{{ IA_2.Groupe}}</th>
            {% endfor %}
        </tr>
    </table>
</body>


</html>
