{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Eduplanner</title>
</head>
<style>
    .logout
    {
        margin: 15px 10px;
        text-decoration: none;
        color: rgb(211, 255, 240);
        font-family: sans-serif;
    }
    .ent
    {
        background-color: #1d334a96; 
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo
    {
        width: 100px;
        object-fit: cover;

    }
</style>
    <body>
        <div>
            <hr>
            <div>
                <div class="ent">
                    <p class="logo" style="align-items: center;font-size: 3rem; color: rgb(211, 255, 240);">Eduplanner</p>
                </div>
                
                <hr>
                <nav style=" background-color: #1D334A;">
                    <ul style="font-size: large; font-style: italic; text-align: center;">
                        <li class="deroulant"><a href="#">Consultation des emplois du temps publiés</a>
                            <ul class="sous">
                                <li><a href="Emploisdutempslicence1">Licence 1</a></li>
                                <li><a href="Emploisdutempslicence2">Licence 2</a></li>
                                <li><a href="Emploisdutempslicence3">Licence 3</a></li>
                            </ul>
                        </li>
                        <!-- <li><a href="#">Gestion des enseignements et de la masse horaire</a></li> -->
                        <li><a href="#">Planification des emplois de temps</a></li>
                        <li><a href="{% url 'logout'%} " class="logout">Se déconnecter </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="mil"> 
            <h3 style="text-align: center;">Eduplanner</h3>
            <p style="color: white;">
                Eduplanner est une plateforme permettant aux étudiants du complexe de consulter leur emploi du temps à tout moment.
            </p>
        </div>
    </body>

</html>