{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/licence1ep.css'%}">
    <title>Document</title>
</head>

<body>

    <hr>
    <h1 style="text-align:center;" class="bienvenue">Bienvenue sur My Week Program (Emploi du temps Licence 2)</h1>
    <hr>
    <nav>
        <ul>
            <li class="deroulant"><a href="#">Consultation des emplois du temps publiés</a>
                <ul class="sous">
                    <li><a href="Emploisdutempslicence1">Licence 1</a></li>
                    <li><a href="Emploisdutempslicence2">Licence 2</a></li>
                    <li><a href="Emploisdutempslicence3">Licence 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <hr>
    <div class='filiere' style="text-align: center;">
        <ul class="etudiant">
            <li class="secteur"><a class="lien" href="IA2">Etudiant en IA</a></li>
            <li class="secteur"><a class="lien" href="IM2">Etudiant en IM</a></li>
            <li class="secteur"><a class="lien" href="GL2">Etudiant en GL</a></li>
        </ul>
    </div>
    <div>
        <ul class="etudiant1">
            <li class="secteur1"><a class="lien1" href="SEIoT2">Etudiant en SE&IoT</a></li>
            <li class="secteur1"><a class="lien1" href="SI2">Etudiant en SI</a></li>
        </ul>
    </div>
</body>

</html>