{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/licence1ep.css'%}">
    <title>Licence 1</title>
</head>

<body>

    <hr>
    <h1 style="text-align: center; background-color: aquamarine; font-size: 2em;color: #112438;">Bienvenue sur <span class="l">Eduplanner</span> (Emploi du temps Licence 1)</h1>
    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'index'%}">Accueil</a></li>
            <li class="deroulant"><a href="#">Consultation des emplois du temps publiés</a>
                <ul class="sous">
                    <li><a href="Emploisdutempslicence1">Licence 1</a></li>
                    <li><a href="Emploisdutempslicence2">Licence 2</a></li>
                    <li><a href="Emploisdutempslicence3">Licence 3</a></li>
                </ul>
            </li>
            <!-- <li><a href="admin">Gestion des enseignements et de la masse horaire</a></li> -->
            <li><a href="admin">Planification des emplois de temps</a></li>
        </ul>
    </nav>
    <hr>
    <div class='filiere'>
        <p>FILIERES</p>
        <ul class="etudiant">
            <li class="secteur"><a class="lien" href="IA1">Etudiant en IA</a></li>
            <li class="secteur"><a class="lien" href="IM1">Etudiant en IM</a></li>
            <li class="secteur"><a class="lien" href="GL1">Etudiant en GL</a></li>
            <li class="secteur"><a class="lien" href="SEIoT1">Etudiant en SE&IoT</a></li>
            <li class="secteur"><a class="lien" href="SI1">Etudiant en SI</a></li>
        </ul>
    </div>
</body>

</html>