{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="shortcut icon" href="{% static 'css/logo.png'%}">
    <title>Eduplanner-password</title>
</head>
<body>
    <div class="entete">
        <p>Eduplanner</p>
    </div>
    <div class="cor">
        <h2 class="rei">Message de réinitialisation du mot de passe envoyé</h2>
        <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de courriels.</p>
    </div>   
</body>
</html>