{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="shortcut icon" href="{% static 'css/logo.png'%}">
    <title>Eduplanner-pass</title>
</head>

<body>
    <div class="entete">
        <p>Eduplanner</p>
    </div>
    <div class="cor">
        <h2 class="rei">Réinitialisation du mot de passe </h2>
        <p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <p>{{ form.email.label_tag }} {{ form.email }}</p>
            <button type="submit">M'envoyer les instructions</button>
        </form>
    </div>
      
</body>
</html>