{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="shortcut icon" href="{% static 'css/logo.png'%}">
    <title>Eduplanner-pass</title>
</head>
<body>
    <div class="entete">
        <p>Eduplanner</p>
    </div>
    <div class="cor">
        <h2 class="rei">Mot de passe réinitialisé.</h2>
        <p>Votre mot de passe a été réinitialisé avec succès. Revenir à <a href="{% url 'login' %}">la page de connexion</a>.</p>
    </div> 
</body>
</html>