@font-face{
    font-family: "Great Vibes";
    src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf ");
  }
  
@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
  }
* {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: #112438;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}


nav ul li {
    float: left;
    text-align: center;
    position: relative;
    margin: 20px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(211, 255, 240);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #112438;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}
.l
{
    font-family: 'Great Vibes';
}

.secteur {
    margin: 20px;
    list-style: none;
    background-color: #112438;
    width: 300px;
    padding: 20px 20px;
    transition: all .5s ease;

   
}
.secteur:hover 
{
    background-color: aquamarine;

}
.secteur:hover  a
{
    color: #112438;
}

.secteur .lien
{
    text-decoration: none;
    color: rgb(211, 255, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filiere
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}
.filiere p
{
    margin-left: 35px;
    color: #112438;
    font-family: 'Poppins';
    font-size: 3rem;
}