@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1d334a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}


.title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    position: absolute;
    top: 4cm; /* Place le titre à 7 cm du haut */
    left: 2.5cm; /* Place le titre à 5 cm de la gauche */
    color: snow; /* Couleur du texte en noir */
    z-index: 5;
}

p{
    font-family: Montserrat;
    font-size: 20px;
    position: absolute;
    top: 6.5cm;
    left: 2.5cm;
    color: snow;
}

form p{
    position: relative;
    font-family: Montserrat;
    font-size: 20px;
    bottom: 50px; /* Place le paragraphe à 50px du bas */
    top: 21px;
    right: 34px;
    left: 14px;
    color: black;
    
    
}


.container {
  position: relative;
  overflow: hidden;
  width: 450px; /* Nouvelle taille du conteneur */
  height: 610px; /* Nouvelle taille du conteneur */
  background-color: snow;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 32, 63, .45), 0 8px 8px rgba(0, 32, 63, .45);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -16cm; /* Déplace le conteneur de 12 cm vers la droite */

}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: .6s ease-in-out;
}




form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: aquamarine;
  border-radius: 0;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input:nth-child(2) {
  margin-top: 5mm; /* Espace de 0.5 cm entre les deux inputs */
}

button.ghost {
  background-color: transparent;
}

button {
  background-color: #adf0d1;
  color: #00203f;
  border: 1px solid #adf0d1;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 20px;
  letter-spacing: 0.7px;
  border-radius: 53px;
  border-color: rgba(0, 32, 63, .45);
  transition: 0.22s ease-in;
  width: 100%;
  position: relative;
}

button:hover {
  cursor: pointer;
  background-color: #00203f;
  color: #adf0d1;
}

button:active {
  transform: scale(0.96);
}

h1 {
  position: absolute;
  top: 0.8cm; /* Déplace le h1 de 50px vers le haut */
  font-size: 24px;
}

span {
  position: absolute;
  top: 1.5cm; /* Déplace le span de 85px vers le haut */
  font-size: 14px;
}


  
